<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head th:replace="~{fragments/fragments :: modelread('Vendas')}"></head>


    <body>              
        <header th:insert="~{fragments/header :: modelheader}"></header> 
        
          
          

        <div class="container">
            <div class="row">

                <!-- Card de produtos -->
                <div th:each="p : ${produtos}">
                    <div class="card" style="width: 15rem; height: 30rem; border: 1rem">
                        <img class="card-img-top" src="/img/semimg.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" th:text="${p.descricao}"></p>
                            <p th:text="${#numbers.formatCurrency(p.valor)}"></p>
                            
                            
                            <form th:action="@{/vendas/additem}" th:object="${itemVenda}" method="post"> 
                                <input type="hidden" th:value="${p.id}" th:name="produto.id"> <!-- NÃO FUNCIONA COM th:field -->

                              
                                    <select  th:field="*{qtd}">
                                        <option th:each="i : ${#numbers.sequence(1, 20)}" th:value="${i}" th:text="${i}">
                                    </select>
                                    <p></p>
                                
                                <input type="submit"  class="main-btn-2" value="Adicionar ao carrinho">
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>    
 

    
</body>

<head th:insert="~{fragments/footer :: modelfooter}"></head>
</html>