
<div  th:fragment="modelfooter">
 <!-- Rodapé -->
    <footer>
        <div id="copy-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p><a href="" target="_blank">Café com Chocolate </a> &copy; 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <nav class="bordeContainer" >
        <a></a>
    </nav>
    <nav class="flex-container" >

        <div class="d-flex justify-content-center">
            <div class="navbar-brand">
                <img id="divBuscaImg" src="/img/colaborador.png"/>
            </div> 
            <div>
                <a class="navbar-brand" th:href="@{/produtos/form/}">
                    Cadastrar Produtos
                </a>
            </div>
            <div>
                <a class="navbar-brand" th:href="@{/produtos/list/}">
                    Lista de Produtos
                </a>
            </div>
            <div>
                <a class="navbar-brand" th:href="@{/vendas/list/}">
                    Registro de vendas
                </a>
            </div>
        </div>
    </nav>















    
    <script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script> 
</nav>
</div>

