

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >
    
    <head th:insert="~{fragments/fragments :: modelread('Login')}"></head>

     <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-8">
                    
                    <div class="row justify-content-md-center" ><img  src="/img/cafecomchocolate1.svg" id="logo" ></div>
                   <br>
                     <h3 class="main-title" >Login</h3>


                    <form style="border: 1px">
                        
                        <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@example.com</span>
</div>
                       
                        
                        <div class="center">
                            <input type="submit" value="Incluir produto" class="main-btn-2">
                        </div>
                    </form>
                </div>
            </div>
            <form>
            </form>
        </div>
    
</html>